<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Regression Test Suite">

  <test name="Testing Visa Application">

    <classes>

      <class name="com.nextgen.webautomation.testcases.VisaRegistrationTesting" />

    </classes>

  </test>

  <test name="Testing Demo Application">

    <classes>

      <class name="com.nextgen.webautomation.testcases.DemoRegistrationTesting" />

    </classes>

  </test>

</suite>